body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.login-area {
    font-size: 16px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
    margin-right: 10px;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}



.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

.age {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;

}


.signuture {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

.signuture h4 {
    margin: 0;
    padding: 0;
}

.icon {
    max-width: 25px;
    margin: 15px 0;
}

input[type=text].signup_form,
input[type=password].signup_form {
    width: 200px;
    font-size: 18px;
    padding: 2px;
    font-family: monospace;
}

.cancel {
    font-size: 15px;
    border-radius: 5px;
}

button {
    font-size: 15px;
    border-radius: 5px;

}


.submit-button-form {
    font-weight: bold;
    text-transform: uppercase;
    border-radius : 20px 3px 20px 3px ;
    font-size : 14px;
    margin-top: 15px;
    margin-right: 10px;
    color : #0e0f0b;
    padding : 8px 20px;
    background-color : #ffffff;
}

.flex-holder {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.flex-holder a {
  flex: 1;
  max-width: 50px;
}

.container-centered {
    width: 800px;
    margin: 50px auto;
    text-align: center;
}

.post {
    width: 100%;
}

.flex-holder span {
  padding: 20px 10px 0 0;
}

