<div class="post">
  <div class="post-heading">
    <div class="post-title">
    <a href="/blog/{{p.key().id()}}">
      {{p.subject}}
    </a>
    </div>

    <div class="post-author">{{author}}</div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <br>
</div>
<!--   <div class="post__like"> -->
    <span class="like__count">{{p.likes}}</span>
    <a href="/blog/{{p.key().id()}}/like">
      <img class="icon like-icon" src="/static/images/like.svg" alt="">
      </a>
    <br>
    <span class="error">{{access_error}}</span>
  <!-- </div> -->





